.home{
    text-align: center;
    padding: 3rem;
    background-image: linear-gradient(0, #dbc2cf 0%, #a06583 74%);
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.box{
    background-color: #a06583;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px solid #7a4e65;
    color: #dbc2cf;
    font-family: 'MuseoModerno', cursive;
}
.bio{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
}
.title{
    font-style: italic;
    font-size: 1.5rem;
}